$text: #101619;
$border: #f2f2f2;
$white: #ffffff;
$backgroundArrow: #ebebeb;
$backgroundShadow: #00000059;
$redSection: #ed1c24;
$backgroundHeader: #2c2c2c;

// cell ============================================
.cell {
    padding: 5px;
    background: #fbeed5;
    border: 1px solid #d0d0d0;
}

.styledLink {
    color: $text;
}

.wrapperTitles {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.cellFullWidth {
    width: 100%;
}

.edit {
    // text-align: right;
    font-size: calc(5px + 1vmin);
}

.original_text {
    text-align: center;
    font-weight: 600;
    font-size: calc(15px + 1vmin);
}

.translate {
    text-align: center;
    font-size: calc(6px + 1vmin);
}

// ============================================
.MuiToolbar-regular {
    background-color: $backgroundHeader;
}

.loading {
    color: $text;
    font-size: 30px;
    margin-left: 30px;
}

.wordWrapper {
    padding: 20px;
    margin: 20px;
    width: 800px;
    height: 400px;
    border: 1px solid;
}

.flexWrapper {
    display: flex;
    .item {
        padding: 15px;
        margin: 15px;
        border: 2px solid lightblue;
        width: 50%;
    }
}

.titlePage {
    width: 100%;
    text-align: center;
    font-size: 46px;
    padding-top: 20px;
}

.subTitle {
    width: 100%;
    text-align: center;
    font-size: 46px;
    margin-top: -40px;
}

.idTitle {
    position: absolute;
    width: 100%;
    text-align: right;
    font-size: 26px;
    top: 0;
}

.navLinks {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    &:hover {
        color: yellow;
        border-bottom: 1px solid white;
    }
}

// form=======================================================

.formWrapper {
    width: 300px;
    margin-left: auto;
    margin-right: auto;

    textarea {
        min-height: 150px;
        max-height: 500px;
    }

    label {
        display: block;
        text-align: center;
        line-height: 150%;
        font-size: 1.85em;
    }

    textarea,
    input {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
            'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 4px;
        border: 1px solid white;
        padding: 10px 15px;
        margin-bottom: 15px;
        font-size: 14px;
        background-color: #b8b8b8;
        text-align: center;
    }

    input[type='submit'],
    .button {
        position: relative;
        background: #ec5990;
        color: white;
        text-transform: uppercase;
        border: none;
        font-weight: 600;
        margin-top: 20px;
        padding: 20px;
        font-size: 16px;
        letter-spacing: 2px;
        display: block;
        appearance: none;
        border-radius: 4px;
        width: 100%;
        font-weight: 400;
        letter-spacing: 0.5rem;
        transition: 0.3s all;
    }

    button[type='button'] {
        padding: 5px;
        background: #516391;
        color: white;
        letter-spacing: 0px;
        text-transform: none;
        padding: 10px;
        letter-spacing: 1px;
    }

    input[type='submit']:hover,
    button[type='button']:hover {
        background: #bf1650;
        color: white;
    }

    input[type='submit']:active {
        transition: 0.3s all;
        top: 2px;
    }
}

// button ==========================================
.wrapperStaticButtons {
    position: absolute;
    bottom: 0;
}

.wrapperButton {
    padding: 35px 0;

    .button {
        border-radius: 4px;
        background-color: $backgroundHeader;
        border: none;
        color: $white;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button:active,
    :focus {
        border: 3px solid rgb(28, 123, 163);
    }

    .button:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
}

.wrapperTextBlock {
    position: relative;
    overflow: hidden;
    // width: 970px;
    // width: 90%;
    margin-left: auto;
    margin-right: auto;

    // transition: translate;
    // transition-property: transform;
    // transition-duration: 300ms;
    // transition-timing-function: ease-in-out;

    // Header==============================================================

    .wrapperHeader {
        position: relative;
        height: 44px;
        border-right: 10px solid $redSection;
        margin: 16px 0px;
        border-radius: 3px;
        background: $backgroundHeader;
        display: flex;

        .textWrapper {
            font-family: 'Arial', Sans-serif;
            font-size: 26px;
            color: $white;
            padding: 8px 21px 7px 0px;
            .bold {
                font-weight: bold;
                padding: 0px 20px;
            }
        }
        a:before {
            color: $white;
            font-family: twoArrows;
            content: '';
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            font-size: 8px;
            box-sizing: border-box;
            left: 32px;
            border: 2px solid #fff;
        }
    }
    // End Header==============================================================

    .allWords {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;

        // -webkit-transition: all 0.6s ease-out;
        // transition: all 0.6s ease-out;

        //  Word==============================================================
        .wrapperWord:first-child {
            // margin-left: 25px;
        }
        .wrapperWord {
            position: relative;
            border-radius: 2px;
            margin-left: 25px;
            // margin-right: 25px;
            // width: 50%;
            // width: 480px;
            min-width: 450px;
            min-height: 550px;
            border: 1px solid grey;

            //  ImageInfo==============================================================

            .wrapperImage {
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                }

                .shadowWordName {
                    position: absolute;
                    display: table;
                    color: $white;
                    font-size: 15px;
                    height: 29px;
                    background-color: $backgroundShadow;
                    text-align: center;
                    line-height: 29px;
                    bottom: 10px;
                    border-radius: 2px;
                    padding: 0 15px;
                    left: 50%;
                    white-space: nowrap;
                    transform: translateX(-50%);
                    font-family: 'Arial', Sans-serif;
                }
            }

            //  Info==============================================================
            .wrapperInfo {
                overflow: hidden;

                .textJSON {
                    font-family: 'Arial', Sans-serif;
                    font-weight: bold;
                    font-size: 14px;

                    color: $text;
                    overflow: hidden;
                    padding: 9px 21px 8px;
                    background: $white;
                    text-align: center;
                    line-height: 1.2;
                    min-height: 77px;
                }
            }
        }
    }

    // arrows==============================================================

    .twoArrows {
        // position: absolute;
        // top: 450px;
        a:before {
            color: grey;
            font-family: twoArrows;
            content: '';
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-size: 10px;
        }

        .arrow {
            position: absolute;
            top: 50%;
            cursor: pointer;
            background: $backgroundArrow;
            width: 32px;
            height: 32px;
            z-index: 10;
            border: 1px solid grey;
        }
        .prev {
            left: 0;
        }

        .next {
            right: 0;
            transform: rotate(180deg);
        }
    }
}
